@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: 'Sriracha', cursive;
    --fonte2: 'Passion One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
}

.cabecalho {
    background-color: black;
    color: white;
}

section {
    padding: 2em 0;
    line-height: 2em;
}

.fundo-branco {
    background-color: white;
    color: black;
}

.fundo-img {
    background-color: black;
    color: white;
}